DEBUG=True
SECRET_KEY='django-insecure--!z*u121_eep%gcs2$y#+ck_vh2#9trjy83#_94o+wm7!2sj_s'

ALLOWED_HOSTS=127.0.0.1,0.0.0.0,*,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://0.0.0.0,http://localhost,http://*

# POSTGRES DB Config
DB_NAME=pocketLedger_db
DB_USER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=postgres
DB_OPTIONS=sslmode=disable

# GOOGLE OAUTH Config
GOOGLE_CLIENT_ID=xxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET='xzxxxx'

# PASSWORD CHANGE REQUEST
PASSWORD_CHANGE_REQUEST_HASH_KEY='01KEQ1RTDMK2QVWBE6MQPC6AWF01KEQ1RTDNKYV107CNFMERE939'
PASSWORD_RESET_TOKEN_EXPIRY_MINUTES=15

# JWT Authentication Setup
JWT_ALGORITHM='HS256'
JWT_VERIFYING_KEY='#g4kb*dab^4#_8tbk_uo9g&a7+76i7_+9a-5$x5dv)bp&xmq*3'
JWT_AUDIENCE='pocket_flow'
JWT_ISSUER='pocket_flow'
JWT_AUTH_HEADER_TYPES=JWT,BEARER
